<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 账单 -->
	<bean id="omsTradeService" class="com.hsh24.sync.oms.service.impl.TradeServiceImpl">
		<property name="tradeDao" ref="omsTradeDao" />
	</bean>
	
	<bean id="omsTradeDao" class="com.hsh24.sync.oms.dao.impl.TradeDaoImpl" parent="baseDao" />
	
</beans>